// Colors
$grey : #dddddd;

// Spacing
$space : 1.4rem;

// Font sizes
$base-font-size : 1.4rem;

// Form inputs
$input-border-color:$grey;
$input-spacing : 1rem;




// Boxed View file
$boxed-view-bg : $grey;
$boxed-view-box-bg : white;



// Button file
$button-bg : #5b4681;
$button-color : white;
$button-pill-color : #5b4681;