.boxed-view {
	align-items : center;
	background: $boxed-view-bg;
	display: flex;
	justify-content:center;
	width: 100vw; // view port width
	height: 100vh; // view port height
}

.boxed-view__box {
	background-color: $boxed-view-box-bg;
	padding: 2.4rem;
	text-align: center;
	width : 24rem;
}

.boxed-view__form {
	display:flex;
	flex-direction:column;
}

.boxed-view__modal {
	background: fade-out($boxed-view-bg, .25);
	position: fixed;
	top : 0;
	left: 0;
	right: 0;
	bottom : 0; 
}